.form-input:focus + .label-regis-form-default,
.form-input:not(:placeholder-shown) + .label-regis-form-default {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #3866f2;
}
.form-input {
  width: 80%;
  background: none;
  color: #786c6c;
  font-size: 1rem;
  padding: 0.6rem 0.3rem;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
}
.label-regis-form-default {
  color: var(--color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 40px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}

.container-form {
  display: grid;
  gap: 2rem;
}

.form-group {
  position: relative;
  --color: #5757577e;
}

.form-line{
  position: absolute;
  bottom: 0;
  left: 35px;
  width: 82.5%;
  height: 1px;
  background-color: #0040ff;
  transform: scale(0);
  transform: left bottom;
  transition: transform .6s;
}

.form-input:focus,
.form-input:not(:placeholder-shown){
  color: black;

}

.form-input:focus ~ .Formline,
.form-input:not(:placeholder-shown) ~ .Formline{
  transform: scale(1);

}
.user-form {
  position: relative;
  float: center;
  box-sizing: border-box;
  width: 100%;
}

.cuadro-user-form {
  background-color: white;
  margin: auto;
  width: 98%;
  max-width: 400px;
  padding: 3rem 0.5rem;
  border-radius: 10px;
  box-shadow: 5px 5px 10px -2px rgb(0 0 0/50%);
  text-align: center;
}

.CuadroUserform h2 {
  font-size: 2rem;
  margin: 0;
}

.actions {
  text-align: center;
  margin-bottom: 10px;
}

.button-add {
  background-color: #0040ff;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 40px;
  width: 100px;
  border-radius: 3px;
}
.button-pagar {
  color: white;
  margin: 5px;
  background-color: #0040ff;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 40px;
  width: 100px;
  border-radius: 3px;
}
.button-detailspay{
  color: white;
  margin: 4px;  
  background-color: #0040ff;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 40px;
  width: 150px;
  border-radius: 3px;

}
.button-cancel {
  background-color: #0040ff;
  border: none;
  color: #fff;
  cursor: pointer;
  margin: 0 10px;
  height: 40px;
  width: 100px;
  border-radius: 3px;
}
