code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal normal normal 1rem/1.6 -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

body {
  background-image: url(https://www.freepik.es/fotos-premium/fondo-tecnologia-blanco-gris-abstracto-fondo-3d-rejilla-tecnologia-cibernetica-red-tecnologica-estructura-metalica-futurista-inteligencia-artificial-fondo-seguridad-cibernetica-graficos-movimiento_30321136.htm);
   background-repeat:no-repeat ;
   background-attachment: fixed;
   background-size: cover;
  
}































