code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal normal normal 1rem/1.6 -apple-system, BlinkMacSystemFont,
    Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

body {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#f745db 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
  
}
